{% if site.news != blank %}
  {% comment %} 날짜 기준 내림차순 정렬 (최신 항목 상단) {% endcomment %}
  {% assign news = site.news | sort: 'date' | reverse %}
  <div class="news">
    <table class="table table-sm table-borderless">
      {% for item in news limit: site.announcements.limit %}
        <tr>
          <th scope="row" class="news-date-cell">
            {{ item.date | date: "%b" }}
          </th>
          <td class="news-content-cell">
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% else %}
  <p>No news so far...</p>
{% endif %}